__pycache__/
*.pyc
*.pyo
*.egg-info/
*.bak
dist/
scripts
build/
build_venv/
backup/
*.egg
.wechat_exp_config.json
claude_wechat.bat
start_claude.bat
todo.txt
.superpowers/
docs/
export/
output/
README-52.md